@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --green-color: #2D4244;
    --gold-color: #E3C67F;
    --white-color: #FCF9F2;
    
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

header{
    font-size: 14px;
    position: relative;
    color: var(--green-color);
    height: 100vh;
}

nav{
    height: 80px;
    box-shadow: 0px 2px 36px #bababa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    font-size: 1em;
    z-index: 2;
    position: relative;
}

.logo{
    height: 35px;
}

.nav-list{
    list-style-type: none;
    display: flex;
}

.nav-list li{
    padding: 10px 14px;
    margin: 0px 10px;
    cursor: pointer;
    /* border: 2px solid red; */
}

.nav-list li:hover{

}

.header-bg{
    height: calc(100vh - 80px);
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 0;
    /* object-fit: cover; */
    transition: 1.5s ease;
}

.second-img{
    object-fit: cover;
    left: 27vw;
    opacity: 0;
}

.third-img{
    left: 30vw;
    /* top: 200px; */
    opacity: 0;
}

.header-bg-gradient{
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    width: 100%;
    z-index: 1;
    background: rgb(255,255,255);
    background: linear-gradient(100deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}

.header-content{
    position: relative;
    margin: 25vh 0 0 10vw;
}

.header-title{
    z-index: 2;
    font-size: 3.4em;
    font-weight: 900;
    position: inherit;
}

.header-description{
    position: inherit;
    z-index: 2;
    width: 500px;
    margin: 30px 0 0;
    font-size: 1.2em;
    line-height: 1.6em;
}

.header-btn{
    position: inherit;
    z-index: 2;
    margin: 30px 0 0;
    width: 220px;
    height: 36px;
    background: var(--gold-color);
    color: var(--green-color);
    border: none;
    border-radius: 2px;
    font-weight:700;
    letter-spacing: 1.5px;
    transition: 0.5s;
    cursor: pointer;
}

.header-btn:hover{
    background: var(--green-color);
    color: var(--white-color);
    transition: 0.5s;
}

.change-bg-box{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid black; */
    z-index: 2;
}

.change-bg-btn{
    width: 40px;
    height: 4px;
    margin: 2px;
    border: none;
    background: #EAEAEA;
    cursor: pointer;
}

.change-first{
    background: #C8C8C8;
}