@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --green-color: #2D4244;
    --gold-color: #E3C67F;
    --white-color: #FCF9F2;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: -webkit-fill-available;
  }

body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background: var(--green-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-size: 24px;
}

.container *{
    margin: 50px 0;
}

.container a{
    font-weight: 300;
    text-decoration: none;
    color: var(--white-color);
}

.container img{
    width: 600px;
}

.container h3{
    font-weight: 400;
}

@media screen and (max-width: 750px) {
    
    .container {
        font-size: 20px;
    }
    
    .container img{
        width: 400px;
    }
    
}

@media screen and (max-width: 450px) {
    
    .container {
        font-size: 18px;
    }
    
    .container img{
        width: 80%;
    }
    
}

@media screen and (max-width: 350px) {
    
    .container {
        font-size: 18px;
    }
    
}

@media screen and (max-width: 270px) {
    
    .container {
        font-size: 16px;
    }

    .container a{
        font-size: 1.2em;
    }
    
}